body {
    background-color: blue;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;     /* to center the form */  
    left: 50%;      /* to center the form */
    transform: translate(-50%,-50%);       /* to center the form */
    background : #191919;
    text-align: center;
    border-radius:  20px;
}

.box h1{
    color: white;
    font-weight: 500;
}

.box input[type= "text"],.box input[type= "password"]{
 border : 0;
 background :none;
 display: block;
 margin: 20px auto;
 text-align: center;
 border: 2px solid #3498db;
 padding: 14px 10px;
 width: 200px;
 outline: none;
 color: white;
 border-radius: 24px;  /* to curve the border radius */
 transition: 0.25s;
}

.box input[type= "text"]:focus,.box input[type= "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type= "submit"]{
 border : 0;
 background :none;
 display: block;
 margin: 20px auto;
 text-align: center;
 border: 2px solid #2ecc71;
 padding: 14px 40px;
 outline: none;
 color: white;
 border-radius: 24px;  /* to curve the border radius */
 transition: 0.25s;
 cursor: pointer;
}

.box input[type= "submit"]:hover{
 background: #2ecc71;
}